{% extends 'base.html' %}

{% block content %}

<article>

  <h3>{{ post }}</h3>
  <h6>Опубликовано: <small>{{ post.created_at }}</small></h7>

  <!--
  <div class="row">
    <div class="large-6 columns">
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
      <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    </div>
    <div class="large-6 columns">
      <img src="http://placehold.it/400x240&text=[img]" />
    </div>
  </div>
  -->

  {{ post.perex|safe }}
  {{ post.content|safe }}

</article>

<hr />

<h6>Категория: 
<a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
Тэги:
{% for tag in post.tags.all %}
  <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
{% endfor %}
</h6>
Просмотров: {{ post.views_count }}
<hr />

<div class="row">

<div class="large-6 columns">
<p class="text-right">
  {% if prev_post %}
    <a href="{{ prev_post.get_absolute_url }}">&#8656;{{ prev_post }}</a>
  {% endif %}
</p>
</div>

<div class="large-6 columns">
<p class="text-left">
  {% if next_post %}
    <a href="{{ next_post.get_absolute_url }}">{{ next_post }}&#8658;</a>
  {% endif %}
</p>
</div>

</div>


{% load disqus_tags %}
{% disqus_show_comments %}

{% endblock %}